<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="cart-body text-center">
                    <span>Listado de Productos</span>
                    <button class="btn btn-success float-end">NUEVO</button>
                     <table class="table table-striped">
                        <thead>
                          <tr>
                            <th scope="col">Producto</th>
                            <th scope="col">Categoria</th>
                            <th scope="col">Ubicacion</th>
                            <th scope="col">Precio</th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td scope="row">Coca Cola</td>
                            <td>Bebida</td>
                            <td>Bogotá</td>
                            <td>3000</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td scope="row">Atún</td>
                            <td>Viveres</td>
                            <td>Barranquilla</td>
                            <td>7500</td>
                            <td></td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
</div>
